#Created By S.ABILASH 
#NOTE:the path pattern should be like "KEY:VALUE"
#KEY SHOULD BE IN UPPERCASE & NO SPACE INBETWEEN THE COLON"


#font-color
#allowed( GREEEN , RED , PURPLE , YELLOW , WHITE , AQUA, VIOLET ,BLUE)

COLOR:AQUA

#DIR location
#eg DESK:c:\Users\xyz


#application take env path and user-defined path,eg if an app is added to env path than just put value as env name
#APPLICATION location
#eg CHROME:c:\chrome.exe



